<html>
<body>
    <div>

        <h2>Details Page for <%= cat[0].name %></h1>
        <h3>Favourite Food: <%= cat[0].ff %></h3>
        <h3>Age: <%= cat[0].age %></h3>
        <h3>Sleeping Spot: <%= cat[0].ss %></h3>
		<p><img src = "<%= cat[0].pic %>"></p>
     
    </div>
</body>
</html>