<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Message DashBoard</title>
</head>
    <body>
        <div>
        <h5>Dojo Message DashBoard</h5>
        <form action="/addPost" method="post">
            <label>Name:</label><br>
            <input type="text" name="name"><br>
            <label>Message:</label><br>
            <input type="text" name="text"><br><br>
            <input type="submit" value="Post A Message!">
        </form>
        </div>
        <br>
        <div>   
        <h5>Comments Time !!</h5>
        <% for(post of posts){ %>
            <h4><%= post.name %></h4>
            <h5><%= post.text %></h5>

            <% for( comment of post.comments){ %>
                <p>By: <%= comment.name %></p>
                <p>Comment: <%= comment.text %></p>
            <% } %>
            
            <form action="/addComment/<%= post.id %>" method="post">
                <label>Name:</label><br>
                <input type="text" name="name"><br>
                <label>Comment:</label><br>
                <input type="text" name="text"><br><br>
                <input type="submit" value="Add A Comment!">
            </form>
         
        <% } %>
            
        </div>
    </body>
</html>